<label>Id for details: </label>
<input type="text" id="id" name="id" />
<button onclick="GetDetails()" id="details" type="submit">Details</button>

<div id="div-partial"></div>

<script>
function GetDetails() {
    var inputNAME = $("#name").val();
    //var inputId = document.getElementById("id")

    $.ajax({
        type: "POST",
        url: "Ajax/GetDetails?name=" + inputNAME,
        success: function(response) {
            $("#div-partial").html(response);
        }
    });
}
</script>