

<div class="text-right">
    <button class="btn btn-info" onclick="GetPeople()">Get People</button>
</div>

<div class="text-right">
<label>Id for details: </label>
<input type="text" id="id" name="id" />
<button onclick="GetDetails()" id="details" type="submit">Details</button>
<button onclick="DeletePerson()" id="delete" type="submit">Delete</button>
</div>
<div id="div-partial"></div>

<script>
    function GetDetails() {
        var inputId = $("#id").val();
        //var inputId = document.getElementById("id")

        $.ajax({
            type: "POST",
            url: "Ajax/GetDetails?id=" + inputId,
            success: function (response) {
                $("#div-partial").html(response);
            }
        })
    }

    function DeletePerson() {
        var inputId = $("#id").val();
        //var inputId = document.getElementById("id")

        $.ajax({
            type: "POST",
            url: "Ajax/DeletePerson?id=" + inputId,
            success: function (response) {
                $("#div-partial").html(response);
            }
        })
    }

    function GetPeople() {
        $.ajax({
            url: "Ajax/PeopleList",
            type: "GET",
            success: function (response) {
                $("#div-partial").html(response);
                
            }
        })
    }
    
</script>