@{
    ViewData["Title"] = "Edit Country";
}

@model UpdateCountryViewModel

<h1>Edit Country</h1>

@if (Model.ID == 0)
{
    <p>No country found.</p>
}
else
{
    <form asp-controller="Countries" asp-action="UpdateCountry" method="post" class="update country">
        <div asp-validation-summary="All" class="error-message"></div>
        <fieldset>
            <legend>Update country details</legend>

            <input asp-for="ID" type="hidden" readonly>

            <div class="field">
                <label asp-for="Name" for="name"></label>
                <input asp-for="Name" name="name" type="text">
                <span asp-validation-for="Name"></span>
            </div>

            <input type="submit" name="submit" value="Update" class="submit">
        </fieldset>
    </form>
}