@model PeopleViewModel
@if (Model.List.Any())
{
    <div class="container table people">
        <div class="row column-headers">
            <div class="column-header col-xs-3 col-sm-3 col-md-3 col-lg-3">ID</div>
            <div class="column-header col-xs-3 col-sm-3 col-md-3 col-lg-3">Name</div>
        </div>
        @foreach (Person person in Model.List)
        {
            <partial name="_PersonItem" model="person" />
        }
    </div>
}

else
{
    <p>List has no items.</p>
}
