@model Person

@{
    Layout = null; // Prevent layout from being rendered twice
}

<div class="row person">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">@Model.Id</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">@Model.Name</div>
</div>
