@model Person

<div class="row">
<div class="col">@Model.Id</div>
<div class="col">@Model.Name</div>
<div class="col">@Model.Age</div>
<div class="col">@Model.PhoneNumber</div>
<div class="col"><a asp-action="Delete" asp-controller="People" asp-route-id=@Model.Id class="btn btn-danger">Delete</a></div>
</div>