@model PeopleViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>Welcome</h1>

<div>
<div class="row">
     <div class="col">ID</div>
    <div class="col">Name</div>
    <div class="col">Telephone</div>
    <div class="col">City</div>
    <div class="col"></div>
</div>
  
</div>
