@model PeopleViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>This is Index</h2>

<div>
<div class="row">
    <div class="col">Name</div>
    <div class="col">Telephone</div>
    <div class="col">City</div>
    <div class="col"></div>
</div>
    @foreach (Person person in PeopleData.List)
    {
    <partial name="_listPeoplePartial" model="person" />
}
</div>
