@model PersonViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>This is Index</h2>


<div class="row">
    <h6 class="col">Id</h6>
    <h6 class="col">Name</h6>
    <h6 class="col">Age</h6>
    <h6 class="col">Phone number</h6>
    <h6 class="col"> </h6>
</div>
@foreach (var person in Model.tempList)
{
    <partial name="_personPartial" model="person" />
}