@model Person1
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <label asp-for="City"></label>
    <input asp-for="City" />
    <input type="submit" value="Create"/>
</form>