
@{
    ViewData["Title"] = "CheckAge";
}

<h1>Check Age</h1>

<form asp-action="CheckAge" method="post">
    <label>Please enter your age: </label>
    <input type="number" name="input" />
    <input type="submit" value="Check age" class="btn btn-primary" />
</form>

@if(ViewBag.Result != null)
{
    <p>@ViewBag.Result</p>
}
