
@{
    ViewData["Title"] = "GetSession";
}

<h1>Get Session</h1>

@if(ViewBag.Session !=null)
{
    <p>Your saved session reads: @ViewBag.Session (from viewbag)</p>
}

@if(Context.Session.GetString("Session") != null)
{
    <p>Your saved session reads: @Context.Session.GetString("Session") (from session)</p>
}

@if(ViewBag.Cookie != null)
{
    <p>Your saved cookie reads: @ViewBag.Cookie (from viewbag)</p>
}
@if(Context.Request.Cookies["Cookie"] != null)
{
    <p>Your saved cookie reads: @Context.Request.Cookies["Cookie"] (directly from cookie jar)</p>
}
