
@{
    ViewData["Title"] = "SetSession";
}

<h1>Set Session</h1>

<form asp-action="SetSession" method="post">
    <label>Value to save to session:</label>
    <input type="text" placeholder="Please enter a value" name="input" />
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>

@if(ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
