html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


form.create.person {
    margin-bottom: 3em;
}

    form.create.person .error-message ul {
        color: red;
    }

    form.create.person field {
        margin-bottom: auto;
    }

    form.create.person label {
        display:inline-block;
        width: 30%;
    }