@model Person
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <label asp-for="Age"></label>
    <input asp-for="Age" />
    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <input type="submit" value="Create"/>
</form>