@model PersonViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>List of people</h1>

<p>
    <a asp-action="Create">Add new person</a>
</p>
<h2>Show data as table:</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Phone number</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.tempList)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.Name</td>
                <td>@person.Age</td>
                <td>@person.PhoneNumber</td>
                <td><a asp-action="Delete" asp-route-id=@person.Id class="btn btn-danger">Delete</a> </td>
            </tr>
        }
    </tbody>
</table>

<h2>Show data as partial:</h2>
<div class="row">
    <h6 class="col">Id</h6>
    <h6 class="col">Name</h6>
    <h6 class="col">Age</h6>
    <h6 class="col">Phone number</h6>
    <h6 class="col"> </h6>
</div>
@foreach (var person in Model.tempList)
{
    <partial name="_personPartial" model="person" />
}